.button{
    padding: 70px 200px;
    width: 100vw;
    margin: 0%;
    border-radius: 10px;
    display: inline-block;
    border: 1px solid #fff;
    cursor: pointer;
}

.button:hover{
    color: skyblue;
    border:1px solid skyblue;
}


.button:hover{
    color: skyblue;
    border:1px solid skyblue;
}

.button_under{
    flex: 1;
    padding: 10px 20px;
    width: 24%;

    bottom: 0;
    align-self: flex-end;
}